ShippingTrackingUtilities/ShippingTrackingUtilies/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ShippingTrackingUtilities/ShippingTrackingUtilies/bin/Debug/ShippingTrackingUtilities.dll
/ShippingTrackingUtilities/ShippingTrackingUtilies/bin/Debug/ShippingTrackingUtilities.pdb
/ShippingTrackingUtilities/ShippingTrackingUtilies/obj/Debug/CoreCompileInputs.cache
/ShippingTrackingUtilities/ShippingTrackingUtilies/obj/Debug/ShippingTrackingUtilities.csproj.FileListAbsolute.txt
/ShippingTrackingUtilities/ShippingTrackingUtilies/obj/Debug/ShippingTrackingUtilities.csprojResolveAssemblyReference.cache
/ShippingTrackingUtilities/ShippingTrackingUtilies/obj/Debug/ShippingTrackingUtilities.dll
/ShippingTrackingUtilities/ShippingTrackingUtilies/obj/Debug/ShippingTrackingUtilities.pdb
/ShippingTrackingUtilities/ShippingTrackingUtilies/bin/Debug/ShippingTrackingUtilities.dll
/ShippingTrackingUtilities/ShippingTrackingUtilies/bin/Debug/ShippingTrackingUtilities.pdb
/ShippingTrackingUtilities/ShippingTrackingUtilies/obj/Debug/CoreCompileInputs.cache
/ShippingTrackingUtilities/ShippingTrackingUtilies/obj/Debug/ShippingTrackingUtilities.csproj.FileListAbsolute.txt
/ShippingTrackingUtilities/ShippingTrackingUtilies/obj/Debug/ShippingTrackingUtilities.csprojResolveAssemblyReference.cache
/ShippingTrackingUtilities/ShippingTrackingUtilies/obj/Debug/ShippingTrackingUtilities.dll
/ShippingTrackingUtilities/ShippingTrackingUtilies/obj/Debug/ShippingTrackingUtilities.pdb
